#test{
                
                padding: 0px;
                display:flex; 
                flex-wrap: wrap;
               

            }
            .card {
 
                font-size: 30px;
                margin: 10px;
                width: 18rem; 
            }
            
           
            .navbar_left{
                position: relative;
            }


            .cart{
                position: absolute;
                right: 20px;
                top: 5px;

            }
            .cart_icon{

                height: 40px;
                width: 40px;
            }
            .cart_itemcount{
                position: relative;
                font-size: 20px;
                top: -33px
            }